<div class="container-contact100">
  <div class="wrap-contact100">
    <form class="contact100-form validate-form" method="post" action="/chemin/vers/votre/endpoint">
      <span class="contact100-form-title text-center d-block mx-auto">Envoyez-nous un message</span>
      <div class="form-group">
        <label for="first-name" class="mb-2">Votre prénom *</label>
        <input id="first-name" class="form-control" type="text" name="first-name" placeholder="Prénom" required>
      </div>
      <div class="form-group">
        <label for="last-name" class="mb-2">Votre nom *</label>
        <input id="last-name" class="form-control" type="text" name="last-name" placeholder="Nom" required>
      </div>
      <div class="form-group">
        <label for="email" class="mb-2">Votre email *</label>
        <input id="email" class="form-control" type="email" name="email" placeholder="Ex. exemple@email.com" required>
      </div>
      <div class="form-group">
        <label for="phone" class="mb-2">Entrez votre numéro de téléphone</label>
        <input id="phone" class="form-control" type="tel" name="phone" placeholder="+33 78 26 15 00">
      </div>
      <div class="form-group">
        <label for="message" class="mb-2">Message *</label>
        <textarea id="message" class="form-control" name="message" placeholder="Écrivez-nous un message" required></textarea>
      </div>
      <div class="container-contact100-form-btn text-center">
        <button class="btn btn-primary btn-lg">Envoyer le message</button>
      </div>
    </form>
    <div class="contact100-more flex-col-c-m" style="background-image: url('<%= asset_path('mobile.avif') %>');">

   <div class="flex-w size1 p-b-47">
  <div class="txt1 p-r-25">
    <span class="lnr lnr-map-marker"></span>
  </div>
  <div class="flex-col size2">
    <span class="txt1 p-b-20" style="color: black;">Adresse : </span>
    <span class="txt2" style="color: black;"> 7 Rue de Bercy, 93220 Gagny</span>
  </div>
</div>

<div class="dis-flex size1 p-b-47">
  <div class="txt1 p-r-25">
    <span class="lnr lnr-phone-handset"></span>
  </div>
  <div class="flex-col size2">
    <span class="txt1 p-b-20" style="color: black; font-family: Georgia, serif;">Téléphone : </span>
    <span class="txt3" style="color: black;">+33 78 25 00 00</span>
  </div>
</div>

<div class="dis-flex size1 p-b-47">
  <div class="txt1 p-r-25">
    <span class="lnr lnr-envelope"></span>
  </div>
  <div class="flex-col size2">
    <span class="txt1 p-b-20" style="color: black;">Support Général : </span>
    <span class="txt3" style="color: black;">contact@exemple.com</span>
  </div>
</div>




    </div>
  </div>
</div>
